.listItem {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  border-bottom: 1px solid #515561;
  padding-bottom: 27px;
}

.listItem:last-of-type {
  border-bottom: none;
}
