.stationListWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-left: 47px;
  padding-right: 30px;
  padding-bottom: 63px;
  padding-top: 54px;
}
.stationList {
  margin-left: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
}
